@import "tailwindcss";

:root {
  --theme-background-light: #FFFFFF;
  --theme-background-dark: #171717;
  --theme-background-black: #000000;
  --theme-text-light: #171717;
  --theme-text-dark: #FFFFFF;
  --theme-primary: #333333;
  --theme-secondary: #FFFFFF;
  --theme-accent-primary: #C2FF02;
  --theme-accent-secondary: #7D00C2;

  font-family: 'Montserrat', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 20rem;
  min-height: 100vh;

  background: var(--theme-background-dark);
  color: var(--theme-text-dark);
}
